<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Attach Tag</h4>
        <div class="form-group">
            <label>
                Name:
                <input type="text" ng-model="tag.name"  class="form-control" />
            </label>
            <br/><br/>
        </div>
<!--        <a href="#/update_tag/{{todo_id}}" class="btn btn-primary" >Update Tag</a>-->
        <button type="button" class="btn btn-primary" ng-click="updateTag(todo_id)">Update Tag</button>
    </div>
</div>