<div>
<input type="text" ng-model="tagName" placeholder="Filter by Tag Name"/>
        <button class="btn btn-primary" title="Apply Filter" ng-click="loadTodos()"><i class="glyphicon glyphicon-filter"></i></button>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">status</th>
      <th scope="col">Tag Id</th>
      <th scope="col">Is Deleted</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="todo in todos" ng-init="current = 1;">
      <th scope="row">{{current + $index}}</th>
      <td>{{ todo.name }}</td>
      <td>{{ todo.description }}</td>
      <td><select ng-model="todo.status" ng-options="status as status for status in statuses" ng-change="updateTodoStatus(todo._id.$oid, todo.status);">
</select></td>
      <td>{{ todo.tag_id }}</td>
      <td>{{ todo.is_deleted }}</td>      
      <td><a href="#!/edit/{{ todo }}" class="btn btn-primary" title="Edit ToDo"><span class="glyphicon glyphicon-pencil"></span></a></td>
      <td>
        <a href="#!/attach_tag/{{ todo._id.$oid }}" title="Attach Tag">
          <span class="glyphicon glyphicon-tag"></span>
        </a>
      </td>      
      <td>
          <a ng-show="!todo.is_deleted" ng-click="deleteTodo(todo)" class="btn btn-primary" title="Delete ToDO"><span class="glyphicon glyphicon-trash"></span></a>
          <a ng-show="todo.is_deleted" ng-click="deleteTodo(todo)" class="btn btn-primary" title="Undo Delete ToDO"><i class="glyphicon glyphicon-refresh"></i></a>
      </td>        
    </tr>
  </tbody>
</table>
